/* 

    Author: Shanna Graves
    Date: 12/05/2023
    Assignment: Final Project

*/
:root {
    --primary: rgb(128, 185, 190);
    --dark: rgb(25, 74, 78);
    --light: rgb(222, 252, 255);
    --shadow: 0 1px 5px rgb(10, 26, 27);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}


/* Nav Bar */

nav {
    background-color: var(--dark);
    color: var(--light);
    display: grid;
    box-shadow: var(--shadow);
    border-bottom: solid 2px var(--light);
}

nav ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}


nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--light);
}

/* Tables */

table,
th,
td {
    border: 2px var(--light) solid;
    margin: auto;
    margin-top: 5%;
    text-align: center;

}

td {
    padding: 10px;
}

table {
    width: 80%;
}

tr:nth-child(even) {
    background-color: var(--dark);
    color: var(--light);
}

tr:nth-child(odd) {
    background-color: white;
}

.tables {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
}



/* Body */
body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.header {
    font-size: 3rem;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;

}

img {
    box-shadow: var(--shadow);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    border: solid 2px var(--light);
}

.right-side {
    padding-top: 25%;
    padding-bottom: 25%;

}

.right-side p {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.centeredBoxed {
    margin: 2% 10% 10% 10%;
    padding: 0 5% 0 5%;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
    border: solid 2px var(--dark);
}

.hobbies {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;

}

.hobbies p {
    padding: 5%;
    font-size: 1rem;
}

/* Forms */
form{
    background-color: white;
    border: solid 2px var(--dark);
}

fieldset {
    margin: 5%;
    border: solid 2px var(--dark);
    color: var(--dark);
}

legend{
    background-color: var(--primary);
    border: solid 2px var(--dark);
    color: var(--light);
}

label {
    display: block;
    padding-bottom: 1%;
    position: relative;
}

input {
    position: absolute;
    left: 15%;
    width: 50%;
}

.submit {
    width: 15%;
    padding: 5px;
    margin-top: 5px;
    background-color: var(--dark);
    border: solid 2px white;
    color: var(--light);
}



.userContact {
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
}




/* Footer */


footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    box-shadow: var(--shadow);
    border-top: solid 2px var(--light);
}